.comprar {
    display: none;
    width: 82%;
    max-width: 1000px;
    position: fixed; 
    height: 800px;
    top: 80px;
    left: 15%;
    overflow-y: scroll;
     background-color:var(--color-fondo-enc);
  /*  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 12px 23px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	padding: 10px;
   

}
.menuVenta {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}
.caja2 {


    width: 99%;
    height: auto;
    font-size: 10px;
    color: var(--color-fuente);   
    display: flex;     
    flex-direction: row;
    text-align: center;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--color-fondo);
    margin: 8px;
    padding: 20px;
    font-size: 25px;    
    justify-content: space-around;
    align-items: center;
}
.caja2 p {
    font-size: 20px;
    margin: 10px;
}    
.caja2 img {
    width: 30%;
}
.info {
    text-align: right;
    
}
.info p {
    padding: 10px;
    margin-right: 40px;
}

@media (max-width: 650px){
    
    .caja2 p {
        font-size: 15px;
    }
    .info {
        font-size: 10px;

    }
 
   

}
   